/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

/*toggle button css*/
.section-padding{
    padding: 100px 0;
    text-align: center;
}

.btn-box {
    position: relative;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 100px;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    visibility: hidden;
}

.button.active {
    visibility: visible;
}