/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

/* img hover css */
ul.gallery li {
    display: inline-block;
    width: 33%;
}

ul.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    margin-bottom: 80px;
}

ul.gallery li img {
    min-height: 380px;
    border: 8px solid #FFF;
    border-radius: 5px;
    transform-origin: top;
    transition: all 0.1s linear;
    filter: blur(3px);
    position: relative;
    z-index: 1;
}
ul.gallery li:nth-child(1) img{
    transform-origin: top left;
}
ul.gallery li:nth-child(3) img{
    transform-origin: top right;
}
body {
    background: #333;
    color: #fff;
    padding: 60px 0;
}

ul.gallery li img:hover {
    transform: scale(1.3);
    filter: blur(0);
    z-index: 9
}